/* =========================
   ESTILO GENERAL
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* =========================
   CABECERA
========================= */

header{
    background:#07224b;
    color:white;
}

/* Barra superior */

.topbar{

    display:flex;
    align-items:center;
    justify-content:space-between;

    max-width:1600px;
    margin:auto;

    padding:14px 30px;
}

/* Logo */

.logo{

    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{

    width:58px;
    height:58px;
}

/* Texto PARANZA */

.logo span{

    color:white;
    font-family:Georgia, serif;
    font-weight:normal;
    letter-spacing:2px;
}

/* P grande */

.logo span::first-letter{

    font-size:66px;
}

/* resto de letras */

.logo span{

    font-size:48px;
}

/* =========================
   MENU
========================= */

nav{

    display:flex;
    gap:38px;
}

nav a{

    color:white;
    text-decoration:none;

    font-size:15px;

    font-weight:bold;

    transition:.3s;

    border:none;
}

nav a:hover{

    color:#ff7a00;
}

/* lupa */

.search{

    font-size:24px;
    color:white;
    cursor:pointer;

    transition:.3s;
}

.search:hover{

    color:#ff7a00;
}

/* =========================
   LINEA NARANJA
========================= */

.linea{

    height:2px;
    background:#ff7a00;
}

/* =========================
   SLOGAN
========================= */

.slogan{

    background:#07224b;

    color:white;

    text-align:center;

    padding:10px;

    font-size:14px;

    letter-spacing:2px;
}

.slogan span{

    margin:0 12px;

    color:#ff7a00;
}

/* =========================
   PORTADA
========================= */

.hero img{

    width:100%;

    display:block;
}
