/* ==========================
   PARANZA
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f3f3f3;

}


/* ==========================
   CABECERA
========================== */

header{

    background:#062247;
    color:white;

}


/* Barra superior */

.topbar{

    max-width:1700px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 35px;

}


/* ==========================
   LOGO
========================== */

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}


.logo img{

    width:58px;

    height:58px;

}


.logo span{

    font-family:Georgia, "Times New Roman", serif;

    color:white;

    font-size:46px;

    letter-spacing:2px;

    line-height:1;

}


/* P más grande */

.logo span::first-letter{

    font-size:62px;

}


/* ==========================
   MENU
========================== */

nav{

    display:flex;

    gap:34px;

    align-items:center;

}


nav a{

    color:white;

    text-decoration:none;

    font-size:14px;

    font-weight:bold;

    transition:.25s;

}


nav a:hover{

    color:#ff7a00;

}


/* ==========================
   BUSCADOR
========================== */

.busqueda{

    font-size:24px;

    cursor:pointer;

    transition:.25s;

}


.busqueda:hover{

    color:#ff7a00;

}


/* ==========================
   LINEAS NARANJAS
========================== */

.linea{

    width:100%;

    height:2px;

    background:#ff7a00;

}


/* ==========================
   SLOGAN
========================== */

.slogan{

    background:#062247;

    text-align:center;

    padding:12px 0;

    color:white;

    font-size:14px;

    letter-spacing:2px;

    font-weight:600;

}


.slogan span{

    color:#ff7a00;

    margin:0 18px;

}


/* ==========================
   HERO
========================== */

.hero{

    background:white;

    height:650px;

}


/* ==========================
   RESPONSIVE
========================== */

@media(max-width:1200px){

.topbar{

    flex-direction:column;

    gap:20px;

}

nav{

    flex-wrap:wrap;

    justify-content:center;

}

}
